
<h2>Best beers</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Beer</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
    <% @top_beers.each do |beer| %>
    <tr>
      <td><%= beer.name %></td>
      <td><%= beer.average_rating %></td>
    </tr>
    <% end %>
  </tbody>
</table>