<%= render @style %>

<div>
    <ul>
        <strong>beers:</strong>
        <% @style.beers.each do |beer| %>
            <li><%= beer.name %></li>
        <% end %>
    </ul>
</div>

<%= link_to "Back to styles", styles_path %>

<%= edit_and_destroy_buttons(@style) %>